{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div id="calendar"></div>
		<button onclick="appointment.addAppt('test');">test call</button>
	</div>
	<script type="text/javascript">
		$(function (){
			{% for event in appointments %}
				$('#calendar').fullCalendar('renderEvent', {{event|raw}});
			{% endfor %}
		});
	</script>
{% endblock %}

{% block stylesheets %}
<style type="text/css">

</style>
{% endblock %}
