<div class="row">
	<div class="col-sm-12">
		{{'messages.registration.success'|trans({'%username%': app.user.username})}}
	</div>
	<div class="col-sm-12">
		<button type="button" class="btn btn-primary pull-right" data-dismiss="modal">{{'page.button.ok'|trans}}</button>
	</div>
</div>
<script type="text/javascript">
	$('#app-modal-window').on('hidden.bs.modal', function(){ location.reload(true); });
</script>